@font-face{
    font-family: "Assasins Creed";
    src: url(fonts/Assassin$.ttf) format("truetype");
}

@font-face{
    font-family: "DIN2014-Light";
    src: url(fonts/DIN2014-Light.ttf) format("truetype");
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
}

nav{
    background-color: #041418 !important;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
}

h1, h3{
    font-family: "Assasins Creed", "Sans Serif";
    color: #041418;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

h5{
    font-size: 12px
}

p, a{
    font-family: "DIN2014-Light";
    font-size: 12px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.one{    
    width: 50px;
    height: 50px;
}

.two{    
    width: 150px;
    height: 150px;
}

.three{
    padding-top: 28.363px;
    width: 200px;
    height: 200px;
}

footer{        
    font-family: "DIN2014-Light";
    background-color: #041418;
}

.icon{
    width: 36px;
    height: 36px;
    margin-top: 6.25px;
    margin-bottom: 6.25px;
}