@font-face{
    font-family: "Assasins Creed";
    src: url(fonts/Assassin$.ttf) format("truetype");
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
}

nav{
    background-color: #041418 !important;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
}

h1, h3{
    font-family: "Assasins Creed", "Sans Serif";
    color: #041418;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 63px;
}

h3{
    font-size: 36px;
}

h5{
    font-size: 12px
}

p, a{
    font-family: "Sans Serif";
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.one{    
    width: 50px;
    height: 50px;
}

.two{
    
    width: 250px;
    height: 250px;
}